.pageContainer {
  margin-bottom: -20px;
  min-height: calc(100vh + 100px);
  display: flex;
  flex-direction: column;
}

.formContainer {
  background-color: rgba(226, 226, 226, 0.6);
  padding: 40px;
  border-radius: 8px;
}

.characterCount {
  font-size: 0.875rem;
  color: var(--bs-secondary);
  margin-top: 0.25rem;
}

.helpText {
  font-size: 0.875rem;
  color: var(--bs-secondary);
  margin-top: 0.25rem;
}
